@import '~styles/extendables';
@import '~styles/vars';

.chat {
  position: relative;
  height: 100%;

  > header {
    display: flex;

    .avatar {
      width: 60px;
      margin-right: 10px;
    }

    .right {
      @extend %center-x-y;
      margin-left: auto;

      .pill {
        margin-right: 10px;
      }
    }
  }

  .messages {
    height: 600px;
    overflow: auto;

    .message {
      margin-bottom: 10px;

      header {
        text-transform: uppercase;
        color: $color-blue;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 3px;
      }

      blockquote {
        border-left: 2px solid $color-blue;
        padding-left: 5px;
        margin: 0;
      }

      &:nth-child(even) {
        header {
          color: $color-salmon;
        }

        blockquote {
          border-left-color: $color-salmon;
        }
      }
    }
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid $color-grey;
    padding: 10px 0 20px;

    .avatar {
      position: absolute;
      top: -13px;
      width: 50px;
    }

    .typing {
      .avatar {
        position: absolute;
        top: -21px;
        width: 50px;
      }
    }

    .inner-content {
      display: flex;
      position: relative;
      background: $color-light-grey;

      > .btn {
        margin-right: 10px;
      }

      .input {
        width: 320px;
        margin-right: 10px;

        input[type='text'] {
          background: rgba($color-black, 0.1);

          &::placeholder {
            color: $color-dark-grey;
            font-weight: normal;
          }
        }
      }

      .right {
        @extend %center-x-y;
      }
    }
  }
}
