@import '~static/styles/vars';

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: $app-width;
  color: $color-white;
  align-items: center;

  // border: 1px solid red;

  svg {
    color: $color-white;
    font-size: 25px;
  }

  article {
    text-align: center;
  }

  .chat-btn {
    position: relative;

    svg {
      &:first-child {
        font-size: 21px;
      }
      &.msg-notification {
        color: $color-blue;
        font-size: 12px;
        position: absolute;
        top: -5px;
        right: -3px;
      }
    }
  }

  .archive-btn {
    svg {
      &:first-child {
        transform: rotate(-5deg);
      }
      &:last-child {
        transform: rotate(5deg);
      }
    }
  }

  .discover-btn {
    svg {
      //
    }
  }
}
