@import '~styles/vars';
@import '~styles/extendables';
@import '~styles/mixins';

.toolbar {
  @extend %center-x-y;
  @extend %app-width;
  position: fixed;
  top: 0;
  color: $color-white;
  padding: 5px 10px;
  z-index: 150;
  font-weight: $font-medium;

  .left,
  .right {
    width: 50%;

    .icon {
      @include icon-shadow($color-grey-shade-2, 1px);
    }
  }

  .left {
    time {
      margin-right: 3px;
      font-weight: $font-bold;
      text-shadow: 0 0 1px $color-grey-shade-0;
    }

    .icon-location {
      font-size: 10px;
    }
  }

  .right {
    text-align: right;

    .icon {
      margin-left: 8px;
    }
  }

  &.dark {
    color: $color-black;

    .left,
    .right {
      .icon {
        filter: none;
        color: $color-black;
      }
    }

    .left {
      time {
        text-shadow: none;
      }
    }
  }
}
