@import '~styles/vars';
@import '~styles/extendables';

.toolbar {
  @extend %center-x-y;
  @extend %app-width;
  position: fixed;
  top: 0;
  color: $color-white;
  padding: 5px 10px;
  z-index: 150;
  font-weight: bold;

  .left,
  .right {
    width: 50%;
  }

  .left {
    time {
      font-family: $font-work-sans;
    }
  }

  .right {
    text-align: right;
  }

  .icon {
    margin-left: 8px;
  }

  &.dark {
    color: $color-black;

    .icon {
      color: $color-black;
    }
  }
}
