@import '~static/styles/vars';

.discover {
  .view {
    overflow: scroll;
    height: 90vh;

    .widget {
      &.friends {
        .inner-content {
          text-align: center;
          p {
            font-weight: bold;
          }
        }
      }
      .inner {
        display: flex;
        flex-flow: row wrap;
      }
    }
  }
}
