@import '~styles/vars';

.discover {
  padding-bottom: 25px;

  .view {
    .widget {
      &.friends {
        .inner-content {
          text-align: center;

          p {
            font-weight: $font-semi-bold;
            color: $color-grey-shade-3;
          }
        }
      }

      .inner {
        display: flex;
        flex-flow: row wrap;
      }
    }

    .load-more {
      height: 20px;
    }
  }
}
