@import '~styles/vars';

.snap-map {
  .inner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .content {
      height: 100vh;

      .self-marker {
        background-image: url('/images/self-marker.png');
        background-size: cover;
        width: 65px;
        height: 65px;
        transition: all 80ms ease-in;

        &.zoomedIn {
          width: 100px;
          height: 100px;
        }
      }

      .marker {
        background-image: url('/images/heat-map.png');
        background-size: cover;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        cursor: pointer;

        &.active {
          animation: shadow-pulse 0.5s infinite;
        }
      }

      .mapboxgl-popup {
        color: $color-black;
        max-width: 200px;
        padding-bottom: 40px;

        .mapboxgl-popup-content {
          box-shadow: 0 0 8px $color-darker-grey;
          border-radius: 6px;
          text-align: center;

          .mapboxgl-popup-close-button {
            display: none;
          }
        }

        header {
          font-size: 16px;
        }

        p {
          margin: 0;
          color: $color-dark-grey;
        }
      }
    }
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba($color-black, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba($color-black, 0);
  }
}
