@import 'vars';

%video-cover {
  width: $app-width;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

%center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}
