@import 'vars';
@import 'extendables';
//@import 'mixins';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

body {
  font: normal 14px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #333;
  position: relative;
}

a {
  color: $color-white;
  text-decoration: none;

  // &:active,
  // &:focus {
  //   outline: 0;
  //   border: none;
  //   -moz-outline-style: none;
  //   outline-style: none;
  // }
}

.svg-inline--fa {
  color: $color-dark-grey;
}

///////

// .row {
//   border: 1px solid green;
// }

// .col-xs-4,
// .col-xs-6,
// .col-xs-12,
// .col-xs {
//   box-shadow: 0 0 8px red;
// }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  position: relative;
  border: 1px solid #666;
  width: $app-width;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .filter-canvas {
    @extend %video-cover;
  }

  #open-mouth {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 200px;
    color: $color-white;
    font-weight: bold;
  }
}
