@import 'vars';
@import 'extendables';
//@import 'mixins';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

body {
  font: normal 14px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222222;
  position: relative;
}

a {
  color: $color-white;
  text-decoration: none;

  // &:active,
  // &:focus {
  //   outline: 0;
  //   border: none;
  //   -moz-outline-style: none;
  //   outline-style: none;
  // }
}

.wrapper {
  position: relative;
  background-color: #333;
  width: $app-width;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.icon {
  color: $color-white;
}

///////

// .row {
//   border: 1px solid green;
// }

// .col-xs-1,
// .col-xs-4,
// .col-xs-6,
// .col-xs-12,
// .col-xs {
//   box-shadow: 0 0 8px red;
// }
