@import 'vars';
//@import 'mixins';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: normal 14px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #333;
  position: relative;
}

a {
  color: $color-white;
  text-decoration: none;

  &:active,
  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none;
  }
}

.svg-inline--fa {
  color: $color-dark-grey;
}

///////

// .row {
//   border: 1px solid yellow;
//   // height: 100px;
// }

// .col-xs-4,
// .col-xs-6,
// .col-xs-12,
// .col-xs {
//   box-shadow: 0 0 8px red;
// }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
