@import '~static/styles/vars';

.toolbar {
  position: fixed;
  width: $app-width;
  top: 0;
  color: $color-white;
  padding: 5px 0;
  z-index: 15;
  font-weight: bold;

  svg {
    color: $color-white;
    margin-left: 8px;
  }

  &.dark {
    color: $color-black;

    svg {
      color: $color-black;
    }
  }
}
