@import '../../../static/styles/vars';

.footer {
  position: fixed;
  bottom: 20px;
  width: $app-width;
  color: $color-white;

  svg {
    color: $color-white;
  }

  article {
    text-align: center;
  }

  .top {
    text-align: center;
    padding: 0 0 10px 40px;

    .capture,
    .filter {
      display: inline-block;
      vertical-align: top;
    }

    .capture {
      font-size: 70px;
    }

    .filter {
      font-size: 25px;
      margin: 20px 0 0 10px;
      vertical-align: top;
    }
  }

  .bottom {
    align-items: center;

    svg {
      font-size: 25px;
    }

    .chatBtn {
      position: relative;

      svg {
        &:first-child {
          font-size: 21px;
        }
        &.msgNotification {
          color: $color-blue;
          font-size: 12px;
          position: absolute;
          top: -5px;
          right: -3px;
        }
      }
    }

    .archiveBtn {
      svg {
        &:first-child {
          transform: rotate(-5deg);
        }
        &:last-child {
          transform: rotate(5deg);
        }
      }
    }

    .discoverBtn {
      svg {
        //
      }
    }
  }
}
