@import '~static/styles/vars';

.widget {
  margin-bottom: 10px;

  > header {
    color: $color-dark-grey;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
  }

  .inner-content {
    border-radius: 10px;
    overflow: hidden;

    &:not(.transparent) {
      background: $color-white;
      box-shadow: 0 0 6px $color-grey;
      border-radius: 7px;
    }
  }
}
