@import '~styles/vars';

.widget {
  margin-bottom: 15px;

  > header {
    color: $color-dark-grey;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 8px;
  }

  .inner-content {
    &:not(.transparent) {
      box-shadow: 0 0 8px #ddd;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
