@import '~static/styles/extendables';
@import '~static/styles/vars';

.notification {
  height: 0;

  .message {
    background: rgba($color-black, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 4px $color-darker-grey;
    padding: 10px;
    color: $color-light-grey;

    header {
      @extend %center-x-y;
      color: $color-grey;

      .left,
      time {
        width: 50%;
      }

      .left {
        .icon {
          color: $color-yellow;
          font-size: 23px;
          margin-right: 10px;
        }

        span {
          text-transform: uppercase;
        }
      }

      time {
        text-align: right;
      }
    }
  }
}
