@import '~static/styles/vars';

.input {
  position: relative;
  margin: 0 10px;

  input[type='text'] {
    border: 0;
    outline: 0;
    width: 100%;
    background: rgba($color-black, 0.2);
    padding: 10px 5px;
    border-radius: 20px;
    text-indent: 10px;

    &.has-left-icon {
      text-indent: 25px;
    }

    &::placeholder {
      color: $color-white;
      font-weight: bold;
    }
  }

  .left-icon,
  .right-icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }

  .left-icon {
    left: 10px;
  }

  .right-icon {
    right: 10px;
  }
}
