@import '~styles/vars';
@import '~styles/extendables';

.input {
  position: relative;
  width: 100%;
  transition: width 300ms ease-in-out;

  &.animate {
    width: 80%;

    &.full {
      width: 100%;
    }
  }

  &.disabled {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.dark {
    input[type='text'] {
      background: rgba($color-black, 0.1);
      border: 0;

      &::placeholder {
        color: $color-grey-shade-3;
      }
    }
  }

  input[type='text'] {
    width: 100%;
    background: rgba($color-black, 0.2);
    border: 1px solid rgba($color-grey-shade-2, 0.3);
    border-radius: 20px;
    padding: 10px 5px;
    text-indent: 10px;
    font-weight: bold;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;

    &.has-left-icon {
      text-indent: 25px;
    }

    &::placeholder {
      font: bold 15px $font-work-sans;
      color: $color-grey-shade-3;
    }
  }

  .left-icon,
  .right-icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }

  .left-icon {
    left: 10px;
  }

  .right-icon {
    right: 10px;
  }
}
