@import '~styles/vars';

.search {
  border: 2px solid red !important;

  > header {
    padding: 0 0 7px;
    background: $color-light-grey;

    form {
      display: flex;
      justify-content: flex-end;

      .input {
        margin-right: 5px;

        input[type='text'] {
          background: rgba($color-black, 0.1);

          &::placeholder {
            color: $color-darker-grey;
          }
        }
      }
    }
  }

  .view {
    // height: 90vh;
    height: auto;
    overflow: scroll;
    padding: 0;
    margin: 0;

    border: 2px solid green;

    .results {
      border: 2px solid blue;
    }

    .no-results {
      font-weight: bold;
      text-align: center;
      padding: 100px 0;

      span {
        font-size: 25px;
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}
