@import '~styles/vars';

.search {
  > header {
    padding: 0 0 7px;
    background: $color-light-grey;

    form {
      display: flex;
      justify-content: flex-end;

      .input {
        margin-right: 5px;

        input[type='text'] {
          background: rgba($color-black, 0.1);

          &::placeholder {
            color: $color-darker-grey;
          }
        }
      }
    }
  }

  .view {
    overflow: scroll;

    .no-results {
      font-weight: bold;
      text-align: center;
      padding: 100px 0;

      span {
        font-size: 25px;
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}
