@import '~styles/vars';

.search {
  padding-bottom: 25px;

  > header {
    padding: 0 5px 7px 0;
    margin-bottom: 10px;
    background: $color-grey-shade-6;

    form {
      display: flex;
      justify-content: flex-end;

      .input {
        margin-right: 10px;
      }
    }
  }

  > section {
    padding: 0 10px;
    margin: 0 -10px;

    .no-results {
      font-weight: $font-bold;
      text-align: center;
      padding: 100px 0;

      span {
        font-size: 25px;
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}
