@import '~styles/vars';

.search {
  padding-bottom: 25px;

  > header {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-bottom: 20px;

    .input {
      margin-right: 7px;
    }
  }

  > section {
    padding: 0 10px;
    margin: 0 -10px;

    .no-results {
      font-weight: $font-bold;
      text-align: center;
      padding: 100px 0;

      span {
        font-size: 25px;
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}
