@import '~styles/vars';
@import '~styles/extendables';
@import '~styles/mixins';

.account {
  padding-bottom: 15px;

  > header {
    @extend %center-x-y;
    display: flex;
    padding: 10px 10px;
    margin-bottom: -15px;

    .btn-close {
      @include highlight(35px, 35px, 10px);

      .icon {
        font-size: 25px;
      }
    }

    .icon {
      font-size: 20px;
    }

    .ico-gear {
      margin-left: auto;
    }
  }

  .logo {
    text-align: center;

    img {
      width: 100px;
      margin-bottom: 5px;
    }

    strong {
      display: block;
      font-weight: $font-semi-bold;
    }
  }

  footer {
    p {
      text-align: center;
      margin-top: 25px;
      font-size: 13px;

      a {
        color: inherit;
      }

      .icon {
        margin-right: 2px;
      }
    }
  }
}
