@import '~styles/vars';

.account {
  > header {
    display: flex;

    .icon {
      font-size: 20px;
    }

    .ico-gear {
      margin-left: auto;
    }
  }

  .profile {
    text-align: center;

    .ico-brand {
      font-size: 100px;
    }

    strong {
      display: block;
    }
  }
}
