@import '~styles/vars';
@import '~styles/extendables';

.account {
  padding-bottom: 25px;

  > header {
    display: flex;
    padding: 20px 10px;
    margin-bottom: -35px;

    // .btn-close {
    //   @extend %clickable-button;
    // }

    .icon {
      font-size: 20px;
    }

    .ico-gear {
      margin-left: auto;
    }
  }

  .logo {
    text-align: center;

    .ico-brand {
      font-size: 100px;
    }

    strong {
      display: block;
    }
  }

  footer {
    p {
      text-align: center;
      margin-top: 25px;
      font-size: 13px;

      a {
        color: inherit;
      }

      .icon {
        margin-right: 2px;
      }
    }
  }
}
