@import '~static/styles/vars';

.video {
  header {
    padding: 12px 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-shadow: 0 0 1.5px $color-black;

    time {
      display: block;
    }

    svg {
      color: white;
    }
  }

  // https://stackoverflow.com/a/29997746/967451
  .video-container {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    video {
      height: 100%;
      width: 177.77777778vh; // 100 * 16 / 9
      min-width: 100%;
      min-height: 56.25vw; // 100 * 9 / 16
      min-height: 100vh;
    }
  }
}
