@import '~static/styles/vars';

.video {
  width: 100%;

  header {
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: bold;

    time {
      display: block;
    }
  }

  iframe {
    width: 100%;
    height: 80vh;
  }

  .videoContainer {
    border-radius: 20px;
    border: 1px solid red;
  }
}
