@import 'vars';

%app-width {
  width: 100%;
  min-width: 320px;
  max-width: 414px;
}

%video-cover {
  @extend %app-width;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
}

%image-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
}

%center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}

%icon-shadow-dark {
  filter: drop-shadow(1px 1px 8px $color-black);
}

%icon-shadow-light {
  filter: drop-shadow(1px 1px 4px $color-darker-grey);
}

%clickable {
  color: red;
  // animation: glow 0.8s infinite alternate;
}

%clickable-button {
  // @extend %clickable;
  border-radius: 100%;
  min-width: 25px;
  min-height: 25px;

  .icon {
    margin: 0;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -5px $color-pastel-blue;
  }
  to {
    box-shadow: 0 0 5px 5px $color-pastel-blue;
  }
}
