@import 'vars';

%app-width {
  width: 100%;
  min-width: 320px;
  max-width: 414px;
}

%video-cover {
  @extend %app-width;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
}

%center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}
