@mixin icon-shadow($color, $thickness: 8px) {
  filter: drop-shadow(1px 1px $thickness $color);
}

@mixin overlay-bg($opacity: 0.5) {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba($color-black, $opacity);
  color: $color-white;
}

@mixin highlight($width, $height, $thickness: 15px) {
  box-shadow: 0 0 $thickness $color-red;
  border: 1px solid rgba($color-red, 0.5);
  border-radius: 100%;
  width: $width;
  height: $height;
  line-height: normal;

  .icon {
    margin: 0;
  }
}
