$color-white: #ffffff;
$color-black: #000000;
$color-grey: #cccccc;
$color-darker-grey: #999999;
$color-dark-grey: #333333;
$color-light-grey: #eee;
$color-yellow: #fffc00;
$color-blue: #16acff;
$color-salmon: #f13c58;
$color-purple: #a05dcc;

$color-pastel-salmon: #ff9192;
$color-pastel-yellow: #f2ee97;
$color-pastel-green: #aee5ad;
$color-pastel-blue: #84b8f4;
$color-pastel-pink: #ecb3d2;

$toolbar-height: 30px;
