$color-white: #ffffff;
$color-black: #000000;

$color-grey-shade-8: #bbbbbb;
$color-grey-shade-7: #aaaaaa;
$color-grey-shade-6: #eeeeee;
$color-grey-shade-5: #dddddd;
$color-grey-shade-4: #cccccc;
$color-grey-shade-3: #999999;
$color-grey-shade-2: #646e76;
$color-grey-shade-1: #333333;
$color-grey-shade-0: #222222;

$color-yellow: #fffc00;
$color-blue: #16acff;
$color-salmon: #f13c58;
$color-purple: #a05dcc;

$color-pastel-salmon: #ff9192;
$color-pastel-yellow: #f2ee97;
$color-pastel-green: #aee5ad;
$color-pastel-blue: #84b8f4;
$color-pastel-pink: #ecb3d2;

// Same as 100vh but takes into account the bottom toolbar on mobile browsers like ios safari
$mobile-vh: calc(var(--vh, 1vh) * 100);

$toolbar-height: 29px;
