@import 'vars';
@import 'extendables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

body {
  font: $font-regular 14px 'Work Sans', sans-serif;
  color: $color-grey-shade-0;
  background: $color-grey-shade-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $color-white;
  text-decoration: none;
}

img {
  align-self: center;
}

.wrapper {
  @extend %app-width;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: $color-grey-shade-1;
}

.app-sound {
  display: none;
}
