@import 'vars';
@import 'extendables';

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

html,
body {
  touch-action: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

img {
  align-self: center;
}

body {
  position: relative;
  font: normal 14px 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizeLegibility;
  background: #222;
  color: #222;
  height: 100%;
  overflow: auto;
}

a {
  color: $color-white;
  text-decoration: none;
}

.wrapper {
  @extend %app-width;
  position: relative;
  background-color: $color-dark-grey;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.icon {
  color: $color-white;
}

.app-sound {
  display: none;
}
