@import '../../../static/styles/vars';

.menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 0;

  .content {
    height: 100vh;
    padding: 10px;
    overflow: scroll;
    background: $color-light-grey;
  }
}
