@import '~static/styles/vars';

.button {
  cursor: pointer;
  color: $color-white;
  background: none;
  border: 0;
  padding: 0;

  &.round {
    background: rgba($color-black, 0.3);
    border-radius: 100%;
    width: 35px;
    height: 35px;

    .icon {
      margin-right: 0;
      font-size: 17px;
      color: $color-white;
    }
  }

  .icon {
    margin-right: 3px;
  }

  strong {
    display: block;
    margin-top: 3px;
  }
}
