@import '~styles/vars';

.btn {
  cursor: pointer;
  color: $color-white;
  background: none;
  border: 0;
  padding: 0;

  &.round {
    background: rgba($color-black, 0.3);
    border-radius: 100%;
    width: 35px;
    height: 35px;

    .icon {
      margin-right: 0;
      font-size: 17px;
      color: $color-white;
    }
  }

  &.plain {
    color: $color-grey-shade-1;
  }

  &.purple {
    background: $color-purple;
    padding: 10px 20px;
    border-radius: 20px;

    strong {
      margin-top: 0;
    }
  }

  .icon {
    margin-right: 3px;
  }

  strong {
    display: block;
    margin-top: 3px;
  }
}
