@import '~static/styles/vars';

.button {
  cursor: pointer;
  color: $color-white;
  background: none;
  border: 0;
  padding: 0;

  .icon {
    margin-right: 3px;
  }

  strong {
    display: block;
    margin-top: 3px;
  }
}
