@import '~static/styles/vars';
@import '~static/styles/extendables';

.filter-canvas {
  @extend %video-cover;
}

.open-mouth {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 100px;
  left: 200px;
  color: $color-white;
  font-weight: bold;
}

.camera {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .video-stream {
    @extend %video-cover;

    &.hide {
      display: none;
    }
  }

  .controls {
    position: fixed;
    bottom: 70px;
    width: $app-width;
    height: 85px;
    overflow: hidden;

    .btn-capture,
    .btn-filters {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .btn-capture {
      margin: -35px 0 0 -35px;

      .icon {
        font-size: 70px;
      }
    }

    .btn-filters {
      font-size: 25px;
      margin: -12.5px 0 0 50px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    .filters {
      @extend %center-x-y;
      // border: 1px solid yellow;

      button {
        @extend %center-x-y;
        margin: 0 7px;
        width: 50px;
        height: 50px;
        border: 3px solid $color-white;
        border-radius: 100%;

        img {
          width: 30px;
        }

        &.filter-dog {
          background: $color-pastel-pink;
        }
        &.filter-halloween {
          background: $color-pastel-blue;
        }
        &.filter-deform {
          background: $color-pastel-green;
        }
        &.filter-bees {
          background: $color-pastel-yellow;
        }

        // Center button
        &:nth-child(3) {
          width: 55px;
          height: 55px;
          margin: 0 15px;
          border: 0;
          border: 1px solid $color-black;

          img {
            width: 40px;
          }
        }
      }
    }
  }
}
