@import '~static/styles/vars';
@import '~static/styles/extendables';

.filter-canvas {
  @extend %video-cover;
}

.camera {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .video-stream {
    @extend %video-cover;

    &.hide {
      display: none;
    }
  }

  .open-mouth {
    position: absolute;
    top: 50px;
    right: 5%;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transform: rotate(10deg);
    z-index: 1;
    background: rgba($color-black, 0.2);
    padding: 10px 35px 5px;
    border-radius: 50px;
    box-shadow: 0 0 1px $color-black;

    span {
      display: block;
      text-shadow: 0 0 1px $color-black;
    }
  }

  .controls {
    position: fixed;
    bottom: 0;
    width: $app-width;
    height: 240px;
    overflow: hidden;

    .btn-capture,
    .btn-filters {
      position: absolute;
      top: 50%;
      left: 50%;

      .icon {
        box-shadow: 0 0 8px $color-black;
        border-radius: 100%;
      }
    }

    .btn-capture {
      margin: -35px 0 0 -35px;
      border-radius: 100%;

      .icon {
        font-size: 70px;
      }
    }

    .btn-filters {
      font-size: 25px;
      margin: -12.5px 0 0 50px;
      border-radius: 100%;
    }

    .filters {
      @extend %center-x-y;
      margin: 93px 0 20px;

      button {
        @extend %center-x-y;
        margin: 0 6px;
        width: 50px;
        height: 50px;
        border: 3px solid $color-white;
        border-radius: 100%;

        img {
          width: 30px;
        }

        &.filter-dog {
          background: $color-pastel-pink;
        }
        &.filter-halloween {
          background: $color-pastel-blue;
        }
        &.filter-deform {
          background: $color-pastel-green;
        }
        &.filter-bees {
          background: $color-pastel-yellow;
        }
        &.filter-tmp {
          background: lightcyan;
        }

        // Center button
        &:nth-child(3) {
          width: 54px;
          height: 54px;
          margin: 0 15px;
          border: 0;
          border: 1px solid $color-black;

          img {
            width: 40px;
          }
        }
      }
    }

    .filter-actions {
      z-index: 100;
      display: flex;
      justify-content: center;

      .icon {
        font-size: 22px;
      }

      button {
        margin: 0 10px;

        &.close {
          margin: 0 25px;
        }
      }
    }
  }
}
