@import '~static/styles/vars';
@import '~static/styles/extendables';

.camera {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .video-stream {
    @extend %video-cover;
  }

  .controls {
    position: fixed;
    bottom: 70px;
    width: $app-width;
    height: 85px;
    overflow: hidden;
    // border: 1px solid red;

    svg {
      color: $color-white;
    }

    .btn-capture,
    .btn-filters {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .btn-capture {
      margin: -35px 0 0 -35px;

      svg {
        font-size: 70px;
      }
    }

    .btn-filters {
      font-size: 25px;
      margin: -12.5px 0 0 50px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    .filters {
      @extend %center-x-y;
      // border: 1px solid yellow;

      button {
        margin: 0 3px;
        width: 50px;
        height: 50px;
        border: 5px solid $color-white;
        border-radius: 100%;
        background: red;

        &:nth-child(2) {
          background: $color-yellow;

          svg {
            color: #333;
          }
        }

        &:nth-child(3) {
          background: $color-blue;
        }

        &:nth-child(4) {
          background: #eeee;

          svg {
            color: blue;
          }
        }

        svg {
          color: $color-white;
          font-size: 20px;
          margin: 0;
        }

        // Center button
        &:nth-child(3) {
          width: 55px;
          height: 55px;
          margin: 0 15px;
          border: 0;

          svg {
            font-size: 40px;
          }
        }
      }
    }
  }
}
