@import '~styles/vars';
@import '~styles/extendables';

.snap {
  header {
    display: flex;
    padding: 12px 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-shadow: 0 0 1.5px $color-black;

    &.metadata {
      .left,
      .right {
        width: 50%;
      }

      .left {
        time {
          display: block;
        }
      }
    }

    .right {
      width: 100%;
      text-align: right;
    }
  }

  footer {
    padding: 0 30px 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;

    .btn {
      .icon {
        transform: rotate(45deg);
        font-size: 25px;
      }
    }
  }

  .image-container,
  .video-container {
    cursor: pointer;
  }

  .image-container {
    @extend %image-cover;

    .caption {
      font-size: 18px;
      background: rgba($color-black, 0.5);
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 100;
      width: 100%;
      text-align: center;
      height: 50px;
      line-height: 50px;
      margin-top: -25px;
    }
  }

  .video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
