@import '~styles/vars';
@import '~styles/extendables';

.snap {
  header {
    display: flex;
    padding: 12px 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-shadow: 0 0 1.5px $color-black;

    .left,
    .right {
      width: 50%;
    }

    .left {
      time {
        display: block;
      }
    }

    .right {
      text-align: right;
    }
  }

  .image-container {
    @extend %image-cover;

    .caption {
      font-size: 18px;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 100;
      width: 100%;
      text-align: center;
      height: 50px;
      line-height: 50px;
      margin-top: -25px;
    }
  }

  // https://stackoverflow.com/a/29997746/967451
  .video-container {
    position: relative;
    border-radius: 25px;
    height: 100vh;
    overflow: hidden;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
