@import '~styles/vars';
@import '~styles/extendables';

.photo-capture {
  @extend %app-width;
  position: fixed;
  top: 0;
  z-index: 100;

  &.hide {
    display: none;
  }

  .inner {
    height: $mobile-vh;

    .icon {
      @extend %icon-shadow-dark;
    }

    .btn {
      .icon {
        font-size: 25px;
      }
    }

    canvas {
      @extend %video-cover;
    }

    header {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 15px;

      .btn {
        @extend %clickable-button;
      }
    }

    aside {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      padding: 15px;

      .btn {
        margin-bottom: 15px;

        .icon {
          font-size: 22px;
        }
      }
    }

    footer {
      @extend %app-width;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      padding: 15px;

      .left {
        .btn {
          margin-right: 15px;
        }

        .btn-download {
          @extend %clickable-button;
        }
      }

      .right {
        margin-left: auto;
      }
    }
  }
}
