@import '~static/styles/vars';
@import '~static/styles/extendables';

.photo-capture {
  position: relative;
  z-index: 100;

  &.hide {
    display: none;
  }

  .button {
    .icon {
      font-size: 25px;
    }
  }

  header {
    position: fixed;
    top: 0;
    padding: 15px;
    z-index: 1;
  }

  canvas {
    @extend %video-cover;
  }

  aside {
    position: fixed;
    top: 15px;
    margin-left: $app-width - 45px;
    display: flex;
    flex-direction: column;

    .button {
      margin-bottom: 15px;
    }
  }

  footer {
    position: fixed;
    bottom: 15px;
    width: $app-width;
  }
}
