@import '~static/styles/vars';

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 10;

  .content {
    height: 100vh;
    padding: $toolbar-height 10px 10px;
    overflow: scroll;
    background: $color-light-grey;

    .icon {
      color: $color-dark-grey;
    }
  }

  &.stripped,
  &.dark {
    .content {
      padding: 0;
    }
  }

  &.dark {
    z-index: 20;

    .content {
      background: $color-black;
      color: $color-white;

      .icon {
        color: $color-white;
      }
    }
  }
}
