@import '~styles/vars';
@import '~styles/extendables';

.drawer {
  @extend %app-width;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;

  // &.fixed {
  //   position: fixed;
  // }

  &.front {
    z-index: 100;
  }

  &.back {
    z-index: 50;
  }

  .content {
    padding: $toolbar-height 10px 10px;
    overflow: scroll;
    background: $color-light-grey;

    .header {
      margin-top: 0;
    }
  }

  .icon {
    color: $color-dark-grey;
  }

  &.stripped,
  &.dark {
    .content {
      padding: 0;
    }
  }

  &.dark {
    z-index: 200;

    .content {
      background: $color-black;
      color: $color-white;

      .icon {
        color: $color-white;
      }
    }
  }
}
