@import '~styles/vars';
@import '~styles/extendables';

.weather-header {
  @extend %center-x-y;
  display: flex;
  position: absolute;
  top: $toolbar-height;
  z-index: 1;
  width: 100%;
  font-weight: bold;
  color: $color-white;
  text-shadow: 0 0 10px $color-grey-shade-1;
  padding: 0 10px;

  .btn {
    margin-right: 3px;
  }

  .btn-close {
    @extend %clickable;
  }

  .left,
  .center,
  .right {
    width: 33.3%;
  }

  .center {
    .weather {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      text-align: center;
      min-height: 65px;

      header {
        font-size: 20px;
        margin-bottom: 2px;
      }

      .condition {
        @extend %center-x-y;

        .icon {
          margin-right: 5px;
          color: $color-white;
          font-size: 14px;
          filter: drop-shadow(1px 1px 8px $color-grey-shade-1);
        }

        .temperature {
          padding-bottom: 7px;
          font-size: 14px;
        }
      }
    }
  }

  .right {
    text-align: right;
  }
}
