@import '~styles/vars';
@import '~styles/extendables';

.pod.action-item {
  @extend %center-x-y;
  background: $color-white;
  padding: 13px 15px;
  font-weight: 500;

  &:not(.straight-edge) {
    box-shadow: 0 0 8px #ddd;
    border-radius: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .ico-left {
    &.icon {
      margin-right: 10px;
      color: #aaa;
    }
  }

  .ico-right {
    margin-left: auto;

    .icon {
      color: #aaa;
    }
  }
}
