@import '~static/styles/vars';

.media {
  header {
    padding: 12px 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-shadow: 0 0 1.5px $color-black;

    time {
      display: block;
    }
  }

  // https://stackoverflow.com/a/29997746/967451
  .video-container {
    position: relative;
    border-radius: 25px;
    height: 100vh;
    overflow: hidden;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
