@import '~static/styles/vars';

.pod-user {
  background: $color-white;
  padding: 10px 0;
  border-bottom: 1px solid $color-light-grey;

  header {
    font-size: 15px;
    margin-bottom: 3px;
  }

  span {
    color: $color-darker-grey;
    text-transform: lowercase;
  }
}
