@import '~styles/vars';
@import '~styles/extendables';

.header {
  @extend %center-x-y;
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0 15px 10px;
  margin-top: $toolbar-height;

  .ico-user {
    font-size: 28px;
  }

  .input {
    margin: 0 10px;
  }
}
