@import '~styles/vars';
@import '~styles/extendables';
@import '~styles/mixins';

.header {
  @extend %center-x-y;
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0 15px 10px;
  margin-top: $toolbar-height;

  .btn-user {
    .icon {
      font-size: 35px;
    }

    img {
      width: 35px;
    }
  }

  .input {
    margin: 0 10px;
  }

  .right {
    .icon {
      @include icon-shadow($color-grey-shade-2, 1px);
      font-size: 23px;
    }
  }
}
