@import '~styles/vars';
@import '~styles/extendables';
@import '~styles/mixins';

.preview-map {
  position: relative;
  min-height: 170px;
  background: $color-grey-shade-6;

  .map {
    min-height: 165px;
    cursor: pointer;

    .self-marker {
      background-image: url(#{$base-image-path}/bitmoji-self-full.png);
      background-size: cover;
      width: 55px;
      height: 55px;
    }
  }

  .map,
  .api-key-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .api-key-msg {
    @extend %center-x-y;
    background: url(#{$base-image-path}/map-bg.png) no-repeat;
    background-size: cover;
    z-index: 1000;
    overflow: hidden;

    &:after {
      @include overlay-bg(0.3);
      content: '';
      left: 0;
    }

    p {
      position: relative;
      width: 90%;
      padding: 10px 10px 15px;
      background: $color-white;
      box-shadow: 0 0 4px $color-grey-shade-1;
      border-radius: 3px;
      text-align: center;
      line-height: 18px;
      z-index: 10000;

      a {
        color: $color-blue;
        font-weight: $font-bold;
      }

      code {
        padding: 0 3px;
        font-weight: $font-bold;
        background: $color-grey-shade-6;
      }
    }
  }
}
