@import '~styles/vars';
@import '~styles/extendables';

.pill {
  display: flex;
  background: $color-grey-shade-6;
  border-radius: 20px;

  .btn {
    @extend %center-x-y;
    border-right: 1px solid $color-white;
    padding: 7px 14px;

    &:last-child {
      border-right: 0;
    }

    .icon {
      margin-right: 0;
    }
  }
}
