@import '~static/styles/vars';

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: $app-width;
  align-items: center;

  .icon {
    font-size: 25px;
  }

  article {
    text-align: center;
  }

  .chat-btn {
    position: relative;

    .icon {
      &:first-child {
        font-size: 21px;
      }
      &.msg-notification {
        color: $color-blue;
        font-size: 12px;
        position: absolute;
        top: -5px;
        right: -3px;
      }
    }
  }

  .archive-btn {
    .icon {
      &:first-child {
        transform: rotate(-5deg);
      }
      &:last-child {
        transform: rotate(5deg);
      }
    }
  }

  // .discover-btn {
  //   .icon {
  //   }
  // }
}
