@import '~styles/extendables';
@import '~styles/vars';

.footer {
  @extend %center-x-y;
  position: fixed;
  bottom: 0;
  padding-bottom: 25px;
  width: $app-width;
  z-index: 10;

  .icon {
    font-size: 25px;
    box-shadow: 0 0 8px $color-black;
  }

  .left,
  .center,
  .right {
    width: 33.3%;
    text-align: center;
  }

  .left {
    .chat-btn {
      position: relative;

      .icon {
        &:first-child {
          font-size: 21px;
        }

        &.new-msg {
          color: $color-blue;
          font-size: 12px;
          position: absolute;
          top: -5px;
          right: -3px;
          border-radius: 100%;
        }
      }
    }
  }

  .center {
    position: relative;

    .animated {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;

      &:last-child {
        margin: -12.5px 0 0 -20px;
      }

      .btn-capture {
        .icon {
          font-size: 50px;
          border-radius: 100%;
        }
      }

      .archive-btn {
        .icon {
          &:first-child {
            transform: rotate(-5deg);
          }

          &:last-child {
            transform: rotate(5deg);
          }
        }
      }
    }
  }
}
